all:
  hosts:
    secureu-target:
      ansible_host: "TARGET_HOST_IP"
      ansible_user: "TARGET_SSH_USER"
      ansible_password: "CHANGEME"
      ansible_become_password: "CHANGEME"
      ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
